* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  color: #333;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #243c5a;
  color: white;
  padding: 15px 30px;
}

header h1 {
  margin: 0;
}

header nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: normal;
}

header nav a:hover {
  color: #2e54fb;
}

main {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

article {
  flex: 3;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

section {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
  margin-bottom: 10px;
  color: #000000;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
}

table th {
  background: #057c62;
  color: white;
}

ul li {
  list-style: none;
  background: #6b9223;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 6px;
}

aside {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #f1f5f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-mini {
  text-align: center;
}

.profile-mini h3 {
  color: #243c5a;
  margin-bottom: 5px;
}


.contact-card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.social p {
  background: #7a4b1e;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 0.9rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sosmed {
  background: #7a4b1e;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 0.9rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  background-color: #243c5a;
  padding: 20px;
}

.copy {
  color: white;
  text-align: center;
}